.footer {
  position: relative;
  background: var(--mainLight);
  .footer-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1.25rem 0;
    ul {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
      li {
        a {
          text-decoration: none;
          color: rgba(0,0,0,.6);
          font-size: 1rem;
          line-height: 1.4em;
          &:hover {
            color: var(--main);
          }
        }
      }
    }
  }
  .footer-logo {
    width: 10rem;
  }
}
